body {
    background-color: #EEEEEE;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

ol, ul {
    list-style: none;
}

.ivu-layout {
    background: #EEEEEE;
}

.sc-header {
    display: flex;
    background: #68bd45;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e2e3e5;
}

.sc-logo-href {
    display: flex;
    user-select: none;
}

.sc-logo-img {
    height: 44px;
    margin-top: 9px;
}

.sc-logo-word {
    color: #FFFFFF;
    font-size: 2.6em;
    font-weight: 400;
    padding: 2px 0 0 10px;
}

.sc-sider {
    background: #EEEEEE;
    padding-top: 10px;
    padding-left: 10px;
}

.sc-sider .ivu-card {
    margin-bottom: 20px;
}

.sc-sider .ivu-card-body {
    padding: 0;
}

.sc-sider .ivu-card-body li {
    padding: 6px 0 6px 24px;
    background-color: #d1d6ce;
    cursor: pointer;
}

.sc-sider .sc-sider-li-active {
    background-color: #68bd45 !important;
}

.sc-sider .sc-sider-li-active span {
    color: #ffffff !important;
}

.sc-sider .ivu-card-body li span {
    color: #000000;
}

.sc-sider .ivu-card-body li a {
    color: #ffffff;
    float: right;
}

.ivu-layout-content {
    background: #EEEEEE;
}

.ivu-btn:hover {
    color: #68bd45;
    background-color: #fff;
    border-color: #68bd45;
}

.ivu-btn.active, .ivu-btn:active {
    color: #68bd45;
    background-color: #fff;
    border-color: #68bd45;
}

.ivu-btn-text {
    color: #68bd45;
    background-color: transparent;
    border-color: transparent;
}

.ivu-btn-text:hover {
    color: #68bd45;
    background-color: transparent;
    border-color: transparent;
}

.ivu-btn-text.active, .ivu-btn-text:active {
    color: #68bd45;
    background-color: transparent;
    border-color: transparent;
}

.ivu-input:hover {
    border-color: #68bd45;
}

.ivu-input:focus {
    border-color: #68bd45;
}

.main-breadcrumb {
    padding: 10px 0 10px 0;
}

.ivu-breadcrumb > span:last-child {
    font-weight: inherit;
    color: inherit;
}

.ivu-btn-primary {
    background-color: #68bd45;
    border-color: #68bd45;
}

.content-table .ivu-table-cell {
    text-overflow: unset !important;
}

.content-table .ivu-btn {
    padding: 4px 7px;
}


